body {
  font-family: "DM Serif Display", serif;
}

h1 {
  color: rgb(29, 5, 42);
  display: block;
  font-size: 43px;
  font-weight: 100px;
  line-height: 28px;
  margin: 10px auto 20px;
  padding: 10px 0px 5px 23px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding-left: 25px;
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  max-width: 600px;
  margin: 30px 0px 0px 0px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  border-color: #704c91;
}
.overview {
  margin-bottom: 20px;
}
.clearfix.weather-temperature {
  padding-left: 20px;
}
.weather-temprtature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.float-left {
  float: left;
  padding-left: 10px;
}
.weather-temperature strong {
  color: rgb(29, 5, 42);
  font-size: 64px;
  line-height: 90px;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -27px;
  left: 5px;
}

.weather-temperature .active {
  color: rgb(29, 5, 42);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.btn-primary {
  background-color: #704c91;
  border-color: #704c91;
}
.btn-primary:hover {
  color: #704c91;
  background-color: #fff;
  border-color: #704c91;
  transition: all 200ms ease-in-out;
}
.weather-forecast-date {
  font-size: 16px;
  color: rgb(29, 5, 42);
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.col-2 {
  text-align: center;
}
#humidity-list,
#wind-list {
  padding-left: 20px;
}
#humidity-list {
  padding-top: 20px;
}
#city-input.form-control {
  background-color: #f9f9f6;
}
